<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Intern Buddy</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io();
</script>

</head>
<div class="nav">
  <div>
    <a href="/">Home</a>
    <a href="/alphabeticalCompanys">Alphabetical Companies</a>
    <a href="/alphabeticalNames">Alphabetical Names</a>
    <a href="/activities">Activites</a>
    <a href="/food">Food</a>
    <a href="/male">Male Interns</a>
    <a href="/female">Female Interns</a>
    <a href="/microsoft">Microsoft Interns</a>
    <a href="/random">Random Intern</a>
    <a href="/about">About</a>
  </div>
</div>

<style>
* {
  font-family: Helvetica, Arial, sans-serif;
}

.nav {
  overflow: hidden;
  background-color: darkgrey;
  /* border: 1.5px solid darkgrey; */
  padding: 15px 15px;
  color: black;
  text-align: center;
}

.nav a {
  color: black;
  text-align: center;
  padding: 8px 8px;
  display: inline;
}

.nav a:hover {
  background: white;
  color: black;
}
</style>

<body>
  {{{body}}}
  <!-- <button type="button" id="createNew">Enter a Team</button> {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew').on('click', function() {
      console.log("hi");
    });
  </script> -->
</body>

</html>
