<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("http://www.globalsupportinitiative.com/wp-content/uploads/satellite-map-of-us-at-night-photo-united-states-lg-fresh-lights-wall-hd-2018-inside-usa-and-world-maps-4.png");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
<body>
<center><h1>Our Mission.</h1></center>
<center><h1> A Project Created by Sahana Raju, Akhil Saini, and Sam Jalowicz</h1></center>
<h3> Interns are sent all over the world for internships over the summer, often in a place that they area  unfamiliar with. Our job is to make this transition for interns easier by allowing them to know
other interns in their area, activities to do nearby, and food places to eat at! </h3>
<br>
<img src="http://www.globalsupportinitiative.com/wp-content/uploads/satellite-map-of-us-at-night-photo-united-states-lg-fresh-lights-wall-hd-2018-inside-usa-and-world-maps-4.png" height = 700 width= 1500></img>

</body>
