<h1>Would you like to schedule an activity? Do it here!</h1>


<article>
    <form method="POST" action="/addActivity">
        <div class="input-field">
            <label>Activity Name:</label>
            <input type="text" name="title" size="50" placeholder="Hiking at Great Falls Park">
        </div>
         <div class="input-field">
            <label>Description:</label>
            <input type="text" name="description" size="60" placeholder="Come join interns in your area for a hiking trip!">
        </div>
        <div class="input-field">
            <label>Location:</label>
            <input type="text" name="location" size="50" placeholder="Great Falls Park">
        </div>
        <div class="input-field">
            <label>Date:</label>
            <input type="text" name="date" size="50" placeholder="Month Day,Year">
        </div>
        <button type="submit">Submit </button>
    </form>
</article>
