<h1>Would you like to add a food suggestion?</h1>


<article>
    <form method="POST" action="/addFood">
        <div class="input-field">
            <label>Food Place:</label>
            <input type="text" name="title" size="50" placeholder="Shouk Mediterranean Food">
        </div>
         <div class="input-field">
            <label>Rating:</label>
            <input type="text" name="rating" size="60" placeholder="5">
        </div>
        <div class="input-field">
            <label>Location:</label>
            <input type="text" name="location" size="50" placeholder="Washington DC">
        </div>
        <div class="input-field">
            <label>Reviews:</label>
            <input type="text" name="reviews" size="50" placeholder="Loved the gyro!">
        </div>
        <button type="submit">Submit </button>
    </form>
</article>
