<h1>Fill out the form to remove yourself :'( </h1>

<article>
    <form method="POST" action="/removeIntern">
        <div class="input-field">
            <label>Name to delete</label>
            <input type="text" name="name" size="50" placeholder="Alex Jones">
        </div>
        <button type="submit">Submit </button>
    </form>
</article>